.uws-add-to-cart .woocommerce-Price-amount {
	display: none;
}

/* rewrite inline styles to add to cart inline button */
.uws-add-to-cart .add_to_cart_inline {
	border: none !important;
	padding: 0 !important;
}

/* this style is only for specific theme, maybe is better to put top 0, left 0 */
.uws-add-to-cart .woocommerce a.added_to_cart {
	padding-top: 4px;
	padding-left: 10px;
}

